%p#notice= notice

%h1
  = @wallet.name

%p
  %b Address:
  = @wallet.address

%p
  %b Balance:
  = @wallet.balance_in_eth

%p
  %h2 Transactions
  = wallets_transactions

= link_to 'Edit', edit_wallet_path(@wallet)
\|
= link_to 'Back', wallets_path
